<a href="https://colab.research.google.com/github/kyochanpy/Kaggle_Indoor_Location_Navigation/blob/main/create_dataset/fixed_test_timestamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import shutil

In [15]:
# pull out all the buildings actually used in the test set, given current method we don't need the other ones
ssubm = pd.read_csv('/content/drive/MyDrive/sample_submission.csv')

# only 24 of the total buildings are used in the test set, 
# this allows us to greatly reduce the intial size of the dataset

ssubm_df = ssubm["site_path_timestamp"].apply(lambda x: pd.Series(x.split("_")))
used_buildings = sorted(ssubm_df[0].value_counts().index.tolist())

# dictionary used to map the floor codes to the values used in the submission file. 
floor_map = {"B2":-2, "B1":-1, "F1":0, "F2": 1, "F3":2, "F4":3, "F5":4, "F6":5, "F7":6,"F8":7, "F9":8,
             "1F":0, "2F":1, "3F":2, "4F":3, "5F":4, "6F":5, "7F":6, "8F": 7, "9F":8}

In [20]:
real_test = pd.read_csv('/content/drive/MyDrive/fix_test_timestamp.csv')

In [21]:
real_test_df = real_test["site_path_timestamp"].apply(lambda x: pd.Series(x.split("_")))
real_test_df['site_path_timestamp'] = real_test['site_path_timestamp'].values
real_test_df['timestamp'] = real_test['real_timestamp'].values

In [22]:
for building in used_buildings:
    real_test_df_ = real_test_df[real_test_df[0] == building]
    real_test_df_.to_csv(f'{building}_fixed_time_test.csv')
    shutil.move(f'{building}_fixed_time_test.csv', '/content/drive/MyDrive/fixed_test_timestamp')

In [23]:
a = pd.read_csv('/content/drive/MyDrive/fixed_test_timestamp/5a0546857ecc773753327266_fixed_time_test.csv')

     Unnamed: 0  ...      timestamp
0             0  ...  1578474564146
1             1  ...  1578474573154
2             2  ...  1578474579463
3             3  ...  1578474582900
4             4  ...  1578474586465
..          ...  ...            ...
294         294  ...  1578465350734
295         295  ...  1578465356847
296         296  ...  1578465367251
297         297  ...  1578465376100
298         298  ...  1578465382763

[299 rows x 6 columns]

In [ ]:
for building in used_buildings:
    test_df = pd.read_csv(f'/content/drive/MyDrive/wifi_0_02{building}_test')
    test_df = test_df.drop('timrstamp', axis=1)

In [24]:
a = pd.read_csv('/content/drive/MyDrive/accelerometer/test/5a0546857ecc773753327266_accelerometer_test.csv')
a

        Unnamed: 0  timestamp         x         y         z  accuracy
0                0        136 -0.574860  5.930573  7.481476       2.0
1                1        156 -0.799911  5.992218  7.241455       2.0
2                2        176 -0.826248  5.987427  7.306686       2.0
3                3        196 -0.743057  5.988632  7.240250       2.0
4                4        216 -0.753220  6.140060  7.322250       2.0
...            ...        ...       ...       ...       ...       ...
111716        5198     104987 -1.777344  5.369125  8.298492       2.0
111717        5199     105007 -1.701935  5.406830  6.622543       2.0
111718        5200     105027 -1.915008  5.109360  6.538742       2.0
111719        5201     105047 -1.936569  5.200333  8.996994       2.0
111720        5202     105068 -1.408646  5.017181  9.560226       2.0

[111721 rows x 6 columns]